.git
.gitattributes
.gitignore
.env
.env.*
!.env.example
node_modules
vendor
public/build
public/hot
storage/*.key
storage/app/*
!storage/app/.gitignore
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*.php
tests
.phpunit.result.cache
docker
docker-compose*.yml
Dockerfile
*.md
.idea
.vscode
.DS_Store
